.container {
    padding: 9rem 2rem;
}

.heading {
    margin: 0;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: #111827;
}

.footer-para {
    margin: .75rem 0 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #6b7280;
}

.contact {
    margin: 2.25rem 0 0;
    display: flex;
    flex-direction: row;
    flex: 0;
    align-items: center;
}

.mail-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #9ca3af;
}

.mail-address {
    margin: 0 0 0 .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #6366f1;
    text-decoration: none;
}

.mail-address:hover {
    color: #6366f1;
    text-decoration: underline;
}