.container {
    border-right: 1px solid rgb(209 213 219);
    width: 16rem;
}

.sticky-container {
    position: sticky;
    top: 0;
}

.preference-container {
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.preference-container:not(:last-child) {
    border-bottom: 1px solid rgb(209 213 219);
}

.preference-message {
    background-color: rgb(79 70 229);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    color: white;
}

.preference-label {
    padding: 0;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
    color: #000;
}

.keyword-form {
    margin-top: .25rem;
}

.keyword-input {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: .25rem .5rem;
    width: 100%;
    background-color: rgb(209 213 219);
    color: black;
}

.difficulty-checkbox-container {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.difficulty-checkbox-input {
    margin: 0px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.difficulty-checkbox-input:not(:checked) {
    appearance: none;
    border-radius: 2px;
    background-color: white;
}

.difficulty-checkbox-label {
    margin-left: .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
}

.topics-container {
    margin-top: .25rem;
    width: 100%;
}

.topic-checkbox-container {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topic-checkbox-input {
    margin: 0px;
    accent-color: rgb(79, 70, 229);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.topic-checkbox-input:not(:checked) {
    appearance: none;
    border-radius: 2px;
    border: 1px solid rgb(209 213 219);
    background-color: white;
}

.topic-checkbox-label {
    margin-left: .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
}