.container {
    border-right: 1px solid rgb(209 213 219);
    border-bottom: 1px solid rgb(209 213 219);
    width: 16rem;
}

.sticky-container {
    position: sticky;
    top: 0;
}

.preference-container {
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.preference-container:not(:last-child) {
    border-bottom: 1px solid rgb(209 213 219);
}

.preference-message {
    background-color: rgb(79 70 229);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    color: white;
}

.keyword-label {
    margin-bottom: .75rem;
    padding: 0;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
    color: #000;
}

.keyword-input {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: .25rem .5rem;
    width: 100%;
    background-color: rgb(209 213 219);
    color: black;
}
