.container {
    border-right: 1px solid rgb(209 213 219);
    border-bottom: 1px solid rgb(209 213 219);
    width: 16rem;
    height: 100%;
}

.sticky-container {
    position: sticky;
    top: 0;
}

.preference-container {
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.preference-container:not(:last-child) {
    border-bottom: 1px solid rgb(209 213 219);
}

.preference-message {
    background-color: rgb(79 70 229);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    color: white;
}