.container {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(249, 250, 251);
}

.search-page-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

.search-page-subheading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(107, 114, 128);
    margin: 0.5rem 0px 0px;
    padding: 0px;
}

.result-container {
    margin-top: 1.5rem;
    border: 1px solid rgb(209 213 219);
    padding: 1rem 1.5rem;
    background-color: white;
}

.result-container-heading {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1;
}

.result-card-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.result-card {
    border: 1px solid rgb(209 213 219);
    padding: .5rem .75rem;
    width: 100%;
}