.container {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(249, 250, 251);
}

.search-page-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

.search-page-subheading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(107, 114, 128);
    margin: 0.5rem 0px 0px;
    padding: 0px;
}

.result-container {
    margin-top: 1.5rem;
    border: 1px solid rgb(209 213 219);
    padding: 1rem 1.5rem;
    background-color: white;
}

.result-container-heading {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1;
}

.result-card-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.result-card {
    border: 1px solid rgb(209 213 219);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.result-index {
    width: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #4b5563;
}

.result-info {
    margin: 0 0 0 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1;
}

.result-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #4f46e5;
    cursor: pointer;
}

.result-name:hover {
    text-decoration: underline;
}

.result-tag-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.difficulty-tag {
    font-size: .875rem;
    font-weight: 500;
    line-height: .875rem;
    text-transform: capitalize;
}

.topic-tag {
    border-radius: 9999px;
    padding: .125rem .625rem;
    display: flex;
    flex-direction: row;
    background-color: #f3f4f6;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
    color: #1f2937;
    text-transform: capitalize;
}

.result-arrow {
    font-size: 1.5rem;
    opacity: 0.4;
    cursor: default;
    user-select: none;
}